o/*
*.sublime*
u
*~
config.h.in
depcomp
configure
missing
compile
aclocal.m4
Makefile.in
install-sh
autom4te.cache
Makefile
build/*
config.log
src/.deps
src/.dirstamp
config.status
config.h
stamp-h1
config.guess
config.sub
ltmain.sh
m4/
